<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSYLRs0REpKpGPyi99nb_tqPOWQHDj0Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>149044662376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherappdemo</string>
	<key>PROJECT_ID</key>
	<string>weatherappdemo-2a0ca</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherappdemo-2a0ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149044662376:ios:758a9b67e95c28cc93ebdd</string>
</dict>
</plist>